.header {
  grid-area: h;
  background-color: #008000;
}
.header img {
  width: 40px;
}
.loginBlock {
  float: right;
}
.loginBlock  a{
  color: #ffffff;
  text-decoration: none;
  padding: 0px 20px;
}