.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    'h h'
    'n c';
}
.header {
  grid-area: h;
  background-color: green;
}
.header img {
  width: 40px;
}
.nav {
  grid-area: n;
  background-color: rgb(59, 241, 59);
}
.content {
  grid-area: c;
  background-color: rgb(25, 186, 197);
}
